<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="reducere" value="10" />
    <add key="w" value="10" />
    <add key="comandaMinima" value="20" />
    <add key="transport" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="reducere" connectionString="10%" />
    <add name="dbconnection" connectionString="Data Source=DESKTOP-8FDDITP\\SQLEXPRESS;Initial Catalog=databaseWPF;Integrated Security=True" />




  <add name="databaseWPFEntities1" connectionString="metadata=res://*/Data.DBModel21.csdl|res://*/Data.DBModel21.ssdl|res://*/Data.DBModel21.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8FDDITP\SQLEXPRESS;initial catalog=databaseWPF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>